*/bin
*/obj
*.vs
.idea
*.ff6inv
pr_io*
venv
temp
save.json
saved.json
loaded.json
loaded_ff1.json
loaded_ff2.json
loaded_ff3.json
loaded_ff4.json
loaded_ff5.json
loaded_ff6.json
prSaveEditor.config
prSaveEditor.exe